RUST_BACKTRACE=1

# Config
PORT=
HOST=""

#Full DB url to run standalone
DATABASE_URL=""

#DB Components to run on Docker (Overrides the DB port to the standard 5432)
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

MASTER_KEY=""

# /// Node RPC Providers. Use a comma to separate multiple URLs for redundancy or quorum.

# SOL RPCs
SOLANA_MAINNET_RPC_URLS=""
SOLANA_TESTNET_RPC_URLS=""
SOLANA_DEVNET_RPC_URLS=""

# Esplora RPCs
ESPLORA_MAINNET_URLS=""
ESPLORA_TESTNET4_URLS=""
ESPLORA_SIGNET_URLS=""

# EVM RPCs
ETH_MAINNET_RPC_URLS=""
SEPOLIA_RPC_URLS=""

BASE_MAINNET_RPC_URLS=""
BASE_SEPOLIA_RPC_URLS=""

POLYGON_MAINNET_RPC_URLS=""

# EVM Contracts
ETH_MAINNET_CONTRACT_ADDRESS=""
SEPOLIA_CONTRACT_ADDRESS=""

BASE_MAINNET_CONTRACT_ADDRESS=""
BASE_SEPOLIA_CONTRACT_ADDRESS=""

POLYGON_MAINNET_CONTRACT_ADDRESS=""

TOPIC_0=""

VITE_REOWN_PROJECT_ID=""
